[submodule "bbb-greenlight-ui"]
	path = bbb-greenlight-ui
	url = https://gitlab.com/MexsonFernandes/bbb-greenlight-ui
[submodule "bbb-install-script"]
	path = bbb-install-script
	url = https://gitlab.com/MexsonFernandes/bbb-install-script
